body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:lightseagreen;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  min-height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  display: grid;
  background-color:antiquewhite;
  width: 500px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  grid-template-rows:auto 1fr;
  /* align-items: center;
  justify-content: space-evenly; */
  

  

}


.answerSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.questionSection{
  width: 50%;

  font-size: medium;
display: inline-block;
  /* padding-right: 30px; */
}
.questionNum{
  
  display: inline-block;

  
}

.questionText{
  padding:5px;
}
button{
  padding-left: 30px;
  padding:7px;
  border-radius: 10px;
  display: grid;
  
  margin-right: 5px;
  cursor:pointer;
  /* width: 50%; */
  text-align: left;
}
button:focus {
  outline: none;
}
button:hover{
  background-color: #53586b;

}
.timer{
  padding-left: 250px;
  position: absolute;
  display: inline-block;
}

p{
  white-space: pre-line;
}
.scoreSection{
   /* grid-template-rows: repeat(2,60%); 
  grid-template-columns:repeat(2,60%) ;  */
  /* width: 15%; */
  width: 49%;
    height: auto;
    white-space: normal;
    text-align: left;

}
.backButtton{
  display: inline-block;
    width: 49%;
    height: auto;
    white-space: normal;
    text-align: left;
    padding: 16px;


}