body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:lightseagreen;
  /* display: flex; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  background-color:antiquewhite;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  /* display: flex; */
  justify-content: space-evenly;
}
.answerSection{
  display: flex;

  flex-direction: column;
  justify-content: space-between;

}
.questionSection{
  width: 50%;
  position: relative;
  font-size: medium;

  /* padding-right: 30px; */
}
.questionNum{
  
  margin-bottom: 10px;
}
.questionText{
  padding:5px;
}
button{
  padding-left: 30px;
  padding:5px;
  border-radius: 10px;
  justify-content: flex-start;
  display: flex;
  margin-right: 5px;
}
